@import "bootstrap/dist/css/bootstrap.min.css";



body{
    background-color: #10624E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-container{
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0,3s ease;
}

.suit {
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    position: absolute;
}

.top{
    top: 10px;
    left: 10px;
}

.bottom{
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.valor{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#boton-generador{
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 15px;
    color: white;
    background-color: #2c3e50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}